/* #root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
    font-family: monospace;
  }
  
  header nav{
    display: flex;
    gap: 16px;
    justify-content: end;
    max-width: 1200;
    margin: 0 auto;
    align-items: center;
  }
  
  header nav h1{
    margin-right: auto;
    border-bottom: 3px solid #747bff;
  }
  
  header nav a{
    text-decoration: none;
    padding: 6px;
    border-radius: 4px;
    color: #747bff;
  }
  
  header nav a.active{
    background-color: #747bef;
    color: aliceblue;
  }
   */
